.movie-list {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;
}

.movie-list-empty {
  color: var(--color-muted);
}

@media (min-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(3,1fr);
  }
}